
<input (keyup.enter)="onAddTodo(todoTitleInput.value)" #todoTitleInput type="text" placeholder="Todo title...">

<button (click)="onAddTodo(todoTitleInput.value)">ADD</button>

<div class="all-todos">

  <p>Uncompleted todos:</p>

  <app-todo
    *ngFor="let todo of todosStore.uncompletedTodos$ | async;"
    [todo]="todo"
    (complete)="todosStore.setCompleted(todo.id!, $event)"
    (remove)="todosStore.removeTodo(todo.id!)"
  ></app-todo>
</div>

<hr/>

<div class="all-todos">

  <p>Completed todos:</p>

  <app-todo
    *ngFor="let todo of todosStore.completedTodos$ | async;"
    [todo]="todo"
    (complete)="todosStore.setCompleted(todo.id!, $event)"
    (remove)="todosStore.removeTodo($event)"
  ></app-todo>
</div>
